<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="backImage">
<div class="container">
  <div class="row">
  <div class="col-xs-12">
    <app-searchbar></app-searchbar>
  </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-widgetdisplay [loc]="position"></app-widgetdisplay>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-footer-display></app-footer-display>
    </div>
  </div>
</div>
</div>
